header {
    padding: 12px 0;
    background: black;
}

.menu {
    margin-top: 12px;
}

.menu ul {
    padding: 0;
    margin: 0;
    text-align: end; 
}

.menu ul li {
    list-style-type: none;
    color: white;
    display: inline-block;
    font-size: 20px;
        margin-left: 74px;
}

.menu ul li:hover {
    color: rgb(217, 255, 0);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
